page-home {
  .container{
    width: 100%;
    height: 80%;
  }
  .btn{
    width: 100%;
  }
  .btn button{
    width: 10%;
    height: 30px;
    background-color: #aaaaaa;
    color: white;
    margin-bottom: 2%;
  }

}
